@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {font-family:MalgunGothic; src:url(../font/MalgunGothic.eot);}
@import url(https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css);

body {
	font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', sans-serif; /* 영문 타입, 한글 타입, 유형 */
	font-size: 16px;
	color:#222;
}

