@charset "utf-8";

.clearfix::after{
	content:"";
	display: block;
	clear: both;
}
.only_mob{
	display: none;
}
.blind{
	display: none;
}
body.fixed{
	width:100vw;
	height:100vh;
	overflow: hidden;
}
@media only screen and (max-width:1230px){
	.only_pc{
		display: none;
	}
	.only_mob{
		display: block;
	}
}


/* header------------------------------------- */
#header .header_inner{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top:0;
	width:100%;
	height:60px;
	z-index: 1000;
	padding:0px 40px;
	box-sizing: border-box;
	background: transparent;
}
#header.active .header_inner{
	background-color: #fff;
	box-shadow: 1px 1px 1px #ccc;
	transition: 0.5s;
}
#header .header_inner h1 a{
	font-size: 18px;
	font-weight: 500;
	color:#fff;
}
#header.active .header_inner h1 a{
	color:#222;
}
#gnb{}
#gnb > span{
	display: none;
	font-size: 0;
	cursor: pointer;
}
#gnb > span i{
	font-size: 28px;
	color:#fff;
}
#gnb > ul{
	display: flex;
}
#gnb > ul > li {
	margin-left: 36px;
}
#gnb > ul > li:first-child{
	margin-left: 0px;
}
#gnb > ul > li > a{
	display: block;
	line-height: 40px;
	font-weight: 500;
	color:#fff;
	transition: 0.3s;
}
#header.active .header_inner #gnb > span i{
	color:#222;
}
#header.active .header_inner #gnb > ul > li > a{
	color:#222;
}
#gnb > ul > li:hover > a,
#gnb > ul > li.on > a{
	color:#777;
}
#header.active .header_inner #gnb > ul > li:hover > a,
#header.active .header_inner #gnb > ul > li.on > a{
	color:#777;
}
#header.active .header_inner #gnb.on > ul > li a{
	color:#fff;
}
#gnb li ul{display: none;}
#gnb li ul li{}
#gnb li ul li a{
	color:#fff;
}
@media only screen and (max-width:1230px){
	#header .header_inner{
		padding:0px 18px;
	}
	#gnb.on{
		position: fixed;
		top:0;
		right:0;
		width:100%;
		height:100%;
		background-color: #222;
	}
	#gnb > span{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height:60px;
	}
	#gnb.on > span{
		margin-right: 18px;
	}
	#gnb > ul{
		display: none;
	}
	#gnb.on > ul{
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		margin-right: 18px;
	}
	#gnb > ul > li {
		margin-left: 18px;
		margin-bottom: 20px;
	}
	#gnb > ul > li:first-child{
		margin-left:18px;
	}
	#gnb > ul > li > a{
		font-size: 40px;
	}
	#gnb > ul > li.on > a{
		color: #fff;
	}
}
@media only screen and (max-width:400px){
	#gnb.on{
		width:100%;
	}
}


/* #page 공통----------------------------------- */
section[id^=page]{
	width:100%;
	overflow: hidden;
}
section[id^=page] .inner{
	padding:100px 244px;
	box-sizing: border-box;
}
section[id^=page] .inner h2{
	font-weight: 700;
	font-size: 30px;
}
.pc_sub_txt{
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	color:#555;
}
@media only screen and (max-width:1230px){
	section[id^=page] .inner{
		padding:80px 18px;
	}
}
@media only screen and (max-width:980px){
	section[id^=page] .inner h2{
		margin-bottom: 20px;
	}
}

/* page1------------------------------------- */
#page1{
	width:100%;
	height: 100vh;
	background-color: #999;
	overflow-y: hidden; 
}
#page1 .swiper {
	width: 100%;
	height: 100%;
	position: relative;
}
#page1 .swiper-wrapper .swiper-slide{
	font-size: 18px;
	background: #fff;
	overflow: hidden;
}
#page1 .swiper-wrapper .swiper-slide >img{
	width:100%;
	height:100%;
	object-fit: cover;
}
#page1 .swiper-wrapper .swiper-slide:nth-child(3){
	background-color: #333;
}
#page1 .swiper-wrapper .swiper-slide .innertxt{
	position: absolute;
	z-index: 1000;
	top: 50%;
	left:0;
	padding:180px 244px;
	box-sizing: border-box;
	transform: translateY(-50%);
}
#page1 .swiper-wrapper .swiper-slide .innertxt h2{
	font-Weight:900;
	font-Size:4.063em;
	opacity:0;
	transform: translateY(50px);
	transition: opacity 0.75s, transform 0.75s;
}
#page1 .swiper-wrapper .swiper-slide .innertxt h2 a{
	color:#fff;
}
#page1 .swiper-wrapper .swiper-slide .innertxt p{
	font-Weight:350;
	font-Size:30px;
	color:#fff;
	opacity:0;
	transform: translateY(50px);
	transition: opacity 0.75s, transform 0.75s;
	transition-delay: 0.8s;
}
#page1 .swiper-wrapper .swiper-slide .innertxt .date{
	display: block;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 300;
	color:#fff;
	opacity:0;
	transform: translateY(50px);
	transition: opacity 0.75s, transform 0.75s;
	transition-delay: 1.2s;
}
#page1 .swiper-wrapper .swiper-slide .innertxt .tool{
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-weight: 300;
	color:#fff;
	opacity:0;
	transform: translateY(50px);
	transition: opacity 0.75s, transform 0.75s;
	transition-delay: 1.4s;
}
#page1 .swiper-wrapper .swiper-slide.swiper-slide-active .innertxt h2,
#page1 .swiper-wrapper .swiper-slide.swiper-slide-active .innertxt p,
#page1 .swiper-wrapper .swiper-slide.swiper-slide-active .innertxt .date,
#page1 .swiper-wrapper .swiper-slide.swiper-slide-active .innertxt .tool{
	opacity: 1;
	transform: translateY(0px);
}
#page1 .swiper-wrapper .swiper-slide .more{
	position: absolute;
	left:50%;
	bottom:49px;
	z-index: 1000;
	transform: translate(-50%,0%);
	font-weight: 600;
	font-size: 14px;
	color:#fff;
	opacity: 0.8;
	transition: opacity 0.3s;
}
#page1 .swiper-wrapper .swiper-slide .more:hover{
	opacity: 1;
}
#page1 .swiper-wrapper .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1.5);
	transition: transform 2.0s;
}
#page1 .swiper-wrapper .swiper-slide.swiper-slide-active img {
	transform: scale(1);
}
#page1 .swiper .autoplay-progress{
	position: absolute;
	left: 50%;
	bottom: 34px;
	transform: translate(-50%,0%);
	margin-left: 80px;
	z-index: 10;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
#page1 .swiper .autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	stroke-width: 2px;
	stroke: #fff;
	fill: none;
	stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
	opacity: 0.8;
}
#page1 .swiper .autoplay-progress > span{
	font-size: 14px;
	font-weight: 400;
	opacity: 0.8;
}
#page1 .swiper .prev_btn{
	position: absolute;
	z-index: 1000;
	top:50%;
	left:20px;
	transform: translateY(-50%);
	padding:0 20px;
	cursor: pointer;
}
#page1 .swiper .next_btn{
	position: absolute;
	z-index: 1000;
	top:50%;
	right:20px;
	transform: translateY(-50%);
	padding:0 20px;
	cursor: pointer;
}
#page1 .swiper .prev_btn span,
#page1 .swiper .next_btn span{
	display: block;
	width:4px;
	height:35px;
	background-color: #fff;
	transition: transform 0.3s;
}
#page1 .swiper .prev_btn:hover span:nth-child(1){
	transform: rotate(45deg) translateY(8px);
}
#page1 .swiper .prev_btn:hover span:nth-child(2){
	transform: rotate(-45deg) translateY(-8px);
}
#page1 .swiper .next_btn:hover span:nth-child(1){
	transform: rotate(-45deg) translateY(8px);
}
#page1 .swiper .next_btn:hover span:nth-child(2){
	transform: rotate(45deg) translateY(-8px);
}
#page1 .swiper .prev_btn p,
#page1 .swiper .next_btn p{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	color:rgba(255,255,255,0.8);
}
#page1 .swiper .prev_btn p{
	left:60px;
}
#page1 .swiper .next_btn p{
	right:60px;
}
#page1 .swiper .logolist{
	position: absolute;
	right:40px;
	bottom:5%;
	z-index: 10;
}
#page1 .swiper .logolist ul{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#page1 .swiper .logolist ul li{
	font-size: 11px;
	margin-top: 15px;
}
#page1 .swiper .logolist ul li a{
	font-size: 0;
}
#page1 .swiper .logolist ul li i{
	font-size: 24px;
	color:#fff;
}
@media only screen and (max-width:1230px){
	#page1 .swiper-wrapper .swiper-slide .innertxt{
		position: absolute;
		top:auto;
		bottom:0;
		left:20px;
		padding:0;
		transform: none;
		margin-bottom: 200px;
	}
	#page1 .swiper-wrapper .swiper-slide .innertxt h2{
		font-size:30px;
		line-height: 32px;
		margin-bottom: 10px;
	}
	#page1 .swiper-wrapper .swiper-slide .innertxt p{
		font-size:15px;
	}
	#page1 .swiper .prev_btn,
	#page1 .swiper .next_btn{
		display: none;
	}
	#page1 .swiper .autoplay-progress{
		margin-left: 70px;
	}
	#page1 .swiper .logolist{
		right:20px;
	}
	#page1 .swiper .logolist ul li i{
		font-size: 20px;
	}
}
@media only screen and (max-width:980px){
	#page1 .swiper-wrapper .swiper-slide .more{
		bottom:40px;
	}
	#page1 .swiper .autoplay-progress{
		width:30px;
		height:30px;
		margin-left: 60px;
	}
	#page1 .swiper .autoplay-progress > span{
		font-size: 10px;
	}
}

/* #page2 ----------------------------------- */
#page2{}
#page2 .inner{}
#page2 .inner .top{
	display: flex;
	margin-bottom: 56px;
}
#page2 .inner .top .title_area{
	width:20%;
}
#page2 .inner .top .txt_area{
	width:80%;
}
#page2 .inner .top .txt_area strong{
	display: block;
	font-size: 65px;
	font-weight: 700;
	margin-bottom: 46px;
	opacity: 0;
	transform: translateY(500px);
	transition: 0.8s;
}
#page2.visible .inner .top .txt_area strong{
	opacity: 1;
	transform: translateY(0px);
}
#page2 .inner .top .txt_area > p{
	font-size: 40px;
	font-weight: 400;
	color: #555;
	margin-bottom: 24px;
	opacity: 0;
	transform: translateY(500px);
	transition: 0.8s;
	transition-delay: 0.6s;
}
#page2.visible .inner .top .txt_area > p{
	opacity: 1;
	transform: translateY(0px);
}
#page2 .inner .top .txt_area > p span{
	font-weight: 700;
	color:#222;
}
#page2 .inner .top .txt_area > div{
	display: flex;
	justify-content: space-between;
	opacity: 0;
	transform: translateY(500px);
	transition: 0.8s;
	transition-delay: 0.8s;
}
#page2.visible .inner .top .txt_area > div{
	opacity: 1;
	transform: translateY(0px);
}
#page2 .inner .top .txt_area > div .resume{
	display: flex;
	justify-content: center;
	align-items: center;
	width:114px;
	height:114px;
	border-radius: 50%;
	background-color: #222;
}
#page2 .inner .top .txt_area > div .resume a{
	display: block;
	padding:20px;
	color:#fff;
}
#page2 .inner .top .txt_area > div .resume a i{
	display: block;
	text-align: center;
	margin-top: 2px;
}
#page2 .inner .bottom{
	opacity: 0;
	transform: translateY(500px);
	transition: 0.8s;
	transition-delay: 1s;
}
#page2.visible .inner .bottom{
	opacity: 1;
	transform: translateY(0px);
}
#page2 .inner .bottom .skill{
	display: flex;
	flex-direction: column;
}
#page2 .inner .bottom .skill li{
	display: flex;
	border-top: 1px solid #999;
	padding:12px 0;
	cursor: pointer;
	transition: 0.5s;
}
#page2 .inner .bottom .skill li.on{
	padding:46px 0;
}
#page2 .inner .bottom .skill li .tit{
	width:20%;
	font-size: 20px;
	font-weight: 700;
}
#page2 .inner .bottom .skill li .desc{
	display: none;
	width:80%;
}
#page2 .inner .bottom .skill li.on .desc{
	display: block;
}
#page2 .inner .bottom .skill li .desc strong{
	display: block;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 24px;
}
#page2 .inner .bottom .skill li .desc p{
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 12px;
}
#page2 .inner .bottom .skill li .desc span{
	font-weight: 400;
	line-height: 25px;
	color:#555;
}
@media only screen and (max-width:980px){
	#page2 .inner .top{
		flex-direction: column;
	}
	#page2 .inner .top .title_area{
		width:100%;
	}
	#page2 .inner .top .txt_area{
		width:100%;
	}
	#page2 .inner .top .txt_area strong{
		font-size: 40px;
		margin-bottom: 30px;
		line-height: 50px;
	}
	#page2 .inner .top .txt_area > p{
		font-size: 30px;
		line-height: 40px;
	}
	#page2 .inner .top .txt_area > div{
		flex-direction: column;
	}
	#page2 .inner .top .txt_area > div .resume{
		margin-top: 24px;
	}
	#page2 .inner .bottom .skill li{
		flex-direction: column;
	}
	#page2 .inner .bottom .skill li .tit{
		width:100%;
	}
	#page2 .inner .bottom .skill li .desc{
		width:100%;
		margin-top: 10px;
	}
}

/* #page3 ----------------------------------- */
#page3{
	background-color: #eaeaea;
}
#page3 .inner {
	display: flex;
}
#page3 .inner .title_area{
	width:20%;
}
#page3 .inner .txt_area{
	width:80%;
	opacity: 0;
	transform: translateY(500px);
	transition: 0.8s;
}
#page3.visible .inner .txt_area{
	opacity: 1;
	transform: translateY(0px);
}
#page3 .swiper {
	width: 100%;
	height: 100%;
	padding-bottom: 46px;
}
#page3 .swiper .swiper-slide{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
}
#page3 .swiper .swiper-slide .year{
	font-weight: 700;
	font-size: 35px;
	line-height: 51px;
	color:#555;
}
#page3 .swiper .swiper-slide .tit{
	margin-top: 68px;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color:#222;
}
#page3 .swiper .swiper-slide ul{
	margin-top: 23px;
}
#page3 .swiper .swiper-slide ul li{
	margin-top: 15px;
	margin-right: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color:#555;
}
#page3 .swiper .swiper-slide ul li:first-child{
	margin-top: 0px;
}
#page3 .swiper .swiper-scrollbar{
	top:74px;
	left: 0;
	width: 100%;
}
#page3 .swiper .swiper-button-prev,
#page3 .swiper .swiper-button-next{
	position: relative;
	display: block;
	top:auto;
	width:auto;
	height:auto;
	margin-top: -23px;
}
#page3 .swiper .swiper-button-prev::after{
	position: absolute;
	right:70px;
}
#page3 .swiper .swiper-button-next::after{
	position: absolute;
	right:0px;
}
:root {
	--swiper-navigation-size: 30px;
    --swiper-theme-color: #555;
}
@media only screen and (max-width:1230px){
	#page3 .swiper .swiper-slide ul li{
		margin-right: 20px;
	}
}
@media only screen and (max-width:980px){
	#page3 .inner {
		flex-direction: column;
	}
	#page3 .inner .title_area{
		width:100%;
	}
	#page3 .inner .txt_area{
		width:100%;
	}
}

/* #page4 ----------------------------------- */
#page4{
	position: relative;
}
#page4::before{
	position: absolute;
	content:"";
	left:0;
	bottom:12%;
	z-index: -1;
	width:100%;
	height:330px;
	background-color: #eaeaea;
}
#page4 .inner .top{
	display: flex;
	margin-bottom: 56px;
}
#page4 .inner .top .title_area{
	width:20%;
}
#page4 .inner .top .txt_area{
	width:80%;
}
#page4 .inner .top .txt_area strong{
	display: block;
	font-size: 65px;
	font-weight: 700;
	line-height: 85px;
	margin-bottom: 46px;
	opacity: 0;
	transform: translateY(500px);
	transition: 0.8s;
}
#page4.visible .inner .top .txt_area strong{
	opacity: 1;
	transform: translateY(0px);
}
#page4 .inner .top .txt_area p{
	opacity: 0;
	transform: translateY(500px);
	transition: 0.8s;
	transition-delay: 0.6s;
}
#page4.visible .inner .top .txt_area p{
	opacity: 1;
	transform: translateY(0px);
}
#page4 .inner .bottom{}
#page4 .inner .bottom .pofolist{
	margin-bottom: 200px;
}
#page4 .inner .bottom .pofolist li{
	display: flex;
	margin-bottom: 90px;
	opacity: 0;
	transform: translateY(500px);
	transition: 0.8s;
}
#page4.visible .inner .bottom .pofolist li{
	opacity: 1;
	transform: translateY(0px);
}
#page4 .inner .bottom .pofolist li:first-child{
	transition-delay: 0.8s;
}
#page4 .inner .bottom .pofolist li:nth-child(2){
	transition-delay: 1.0s;
}
#page4 .inner .bottom .pofolist li:last-child{
	margin-bottom: 0;
	transition-delay: 1.2s;
}
#page4 .inner .bottom .pofolist li .tit{
	width:20%;
	font-size: 20px;
	font-weight: 700;
}
#page4 .inner .bottom .pofolist li .desc{
	width:80%;
}
#page4 .inner .bottom .pofolist li .desc > a{
	display: block;
	margin-top: 46px;
	font-size: 40px;
	font-weight: 700;
	line-height: 54px;
}
#page4 .inner .bottom .pofolist li .desc > p{
	margin-bottom: 12px;
	font-size: 40px;
	font-weight: 350;
	color:#555;
}
#page4 .inner .bottom .pofolist li .desc > span{
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	color:#555;
}
#page4 .inner .bottom .pofolist li .desc .imgbox a{
	display: block;
	overflow: hidden;
}
#page4 .inner .bottom .pofolist li .desc .imgbox a:hover img{
	transform: scale(1.2);
}
#page4 .inner .bottom .pofolist li .desc .imgbox a img{
	width:100%;
	height:100%;
	object-fit: cover;
	transition: 0.5s;
}
#page4 .inner .bottom .worklist{
	display: flex;
}
#page4 .inner .bottom .worklist .tit{
	width:20%;
	font-size: 20px;
	font-weight: 700;
}
#page4 .inner .bottom .worklist .work{
	width:80%;
}
#page4 .inner .bottom .worklist .work .swiper {
	width: 150%;
	height: 100%;
}
#page4 .inner .bottom .worklist .work .swiper-slide {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
#page4 .inner .bottom .worklist .work .swiper-slide .imgbox{
	position: relative;
	margin-bottom: 46px;
}
#page4 .inner .bottom .worklist .work .swiper-slide .imgbox a::before{
	position: absolute;
	content: "";
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
	transition:0.8s;
}
#page4 .inner .bottom .worklist .work .swiper-slide .imgbox a:hover::before{
	background-color: rgba(0,0,0,0);
}
#page4 .inner .bottom .worklist .work .swiper-slide .imgbox img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#page4 .inner .bottom .worklist .work .swiper-slide > span{
	margin-bottom: 12px;
	font-size: 35px;
	font-weight: 700;
	color:#555;
}
#page4 .inner .bottom .worklist .work .swiper-slide > p{
	font-weight: 350;
	line-height: 20px;
	color:#555;
}
@media only screen and (max-width:1230px){
	#page4 .inner .bottom .worklist .work .swiper {
		width:100%;
	}
}
@media only screen and (max-width:980px){
	#page4::before{
		bottom:8%;
		height: 8%;
	}
	#page4 .inner .top{
		flex-direction: column;
	}
	#page4 .inner .top .txt_area strong{
		margin-bottom: 30px;
	}
	#page4 .inner .bottom .pofolist {
		margin-bottom: 100px;
	}
	#page4 .inner .bottom .pofolist li{
		flex-direction: column;
	}
	#page4 .inner .bottom .pofolist li .tit{
		display: none;
	}
	#page4 .inner .bottom .pofolist li .desc{
		width:100%;
	}
	#page4 .inner .top .txt_area strong{
		font-size: 40px;
		margin-bottom: 30px;
		line-height: 50px;
	}
	#page4 .inner .bottom .pofolist li .desc > a{
		font-size: 30px;
		line-height: 40px;
		margin-top: 30px;
	}
	#page4 .inner .bottom .pofolist li .desc > p{
		font-size: 30px;
	}
	#page4 .inner .bottom .worklist{
		flex-direction: column;
	}
	#page4 .inner .bottom .worklist .tit {
		width:100%;
		margin-bottom: 30px;
	}
	#page4 .inner .bottom .worklist .work {
		width: 100%;
	}
}

/* #page5 ----------------------------------- */
#page5{
	/* background-image: url(../images/contact_bg.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover; */
	border-top: 1px solid #eaeaea;
}
#page5 .inner{
	display: flex;
	flex-direction: column;
    align-items: center;
}
#page5 .inner h2{
	position: relative;
	margin-bottom: 36px;
	font-size: 40px;
}
#page5 .inner h2::after{
	position: absolute;
	content: "";
	left:50%;
	bottom:-15px;
	width:28px;
	height: 2px;
	transform: translateX(-50%);
	background-color: #222;
}
#page5 .inner > p{
	font-weight: 400;
	line-height: 25px;
	color:#555;
	opacity: 0;
	transform: translateY(500px);
	transition: 0.8s;
}
#page5.visible .inner > p{
	opacity: 1;
	transform: translateY(0px);
}
#page5 .inner > p:last-of-type{
	margin-bottom: 56px;
}
#page5 .inner .logolist ul{
	display: flex;
	align-items: center;
	opacity: 0;
	transform: translateY(500px);
	transition: 0.8s;
	transition-delay: 0.6s;
}
#page5.visible .inner .logolist ul{
	opacity: 1;
	transform: translateY(0px);
}
#page5 .inner .logolist ul li{
	margin: 0 11px;
	font-size: 11px;
}
#page5 .inner .logolist ul li a{
	font-size: 0;
}
#page5 .inner .logolist ul li i{
	font-size: 24px;
}
@media only screen and (max-width:980px){
	#page5 .inner{
		padding: 80px 18px;
	}
	#page5 .inner h2{
		font-size: 30px;
	}
}


/* footer----------------------------------- */
#footer{
	width:100%;
	padding:50px;
	box-sizing: border-box;
	background-color: #555;
}
#footer .copy{
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	color:#999;
}
#footer .copy p:first-child{
	margin-bottom: 10px;
}
@media only screen and (max-width:980px){
	#footer{
		padding:20px 30px;
	}
	#footer .copy{
		font-size: 12px;
	}
}


/* modal----------------------------------- */
#modal{
	display: none;
	position: fixed;
	z-index: 10000;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.4);
	overflow-y:scroll;
	cursor: pointer;
}
#modal .inner{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 200px;
	background-color: #fff;
	border-radius: 40px;
}
#modal .inner .imgbox{
	width:80%;
}
#modal .inner .imgbox img{
	width:100%;
	height:100%;
	object-fit: cover;
}
#modal .inner .descbox{
	text-align: center;
	margin-bottom: 100px;
}
#modal .inner .descbox p{
	font-weight: 500;
	line-height: 25px;
}
#modal .inner .descbox span{
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	color:#555;
}
@media only screen and (max-width:1230px){
	#modal .inner{
		margin: 80px 18px;
	}
}