@charset "utf-8";

.clearfix::after{
	content:"";
	display: block;
	clear: both;
}
.only_mob{
	display: none;
}
.blind{
	display: none;
}
.black{
	color:#222;
}
.grayback{
	background-color:#f8f8f8;
}
@media only screen and (max-width:1230px){
	.only_pc{
		display: none;
	}
	.only_mob{
		display: block;
	}
}
/* header------------------------------------- */
#header .header_inner{
	position: fixed;
	top:0;
	width:100%;
	height:60px;
	z-index: 1000;
	background: transparent;
}
#header.active .header_inner{
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.546875) 55.21%, rgba(255, 255, 255, 0.21596) 87.5%, rgba(255, 255, 255, 0) 100%);
}
#header .header_inner h1{
	position: fixed;
	top:40px;
	left:40px;
	z-index: 10000;
}
#header .header_inner h1 a{
	display: block;
	font-weight: 500;
	font-size: 20px;
	line-height: 12px;
	color:#fff;
}
#header.active .header_inner h1 a{
	color:#222;
}
#header .header_inner .gnbwrap{
	transition: all 0.3s;
}
#header .header_inner .gnbwrap.on{
	position: fixed;
	z-index: 9999;
	width:100%;
	height:100%;
	background-color: #73C5D7;
}
#header .header_inner .gnbwrap .gnb_toggle{
	position: fixed;
	z-index: 10000;
	right:40px;
	top:40px;
	width:18px;
	height:14px;
	cursor: pointer;
}
#header .header_inner .gnbwrap .gnb_toggle span{
	position: absolute;
	left:0;
	width:100%;
	height:2px;
	background-color: #fff;
}
#header .header_inner .gnbwrap .gnb_toggle.on{
	padding:10px;
}
#header.active .header_inner .gnbwrap .gnb_toggle span{
	background-color: #222;
}
#header .header_inner .gnbwrap .gnb_toggle.black span{
	background-color: #222;
}
#header .header_inner .gnbwrap .gnb_toggle span:nth-child(1){
	top:0;
	transition: transform 0.5s;
}
#header .header_inner .gnbwrap .gnb_toggle span:nth-child(2){
	top:50%;
	transform: translateY(-50%);
}
#header .header_inner .gnbwrap .gnb_toggle span:nth-child(3){
	bottom:0;
	transition: transform 0.5s;
}
#header .header_inner .gnbwrap .gnb_toggle.on span:nth-child(1){
	top:45%;
	transform: rotate(45deg);
	transition: transform 0.5s;
}
#header .header_inner .gnbwrap .gnb_toggle.on span:nth-child(2){
	display: none;
}
#header .header_inner .gnbwrap .gnb_toggle.on span:nth-child(3){
	top:45%;
	transform: rotate(-45deg);
	transition: transform 0.3s;
}
#gnb{
	position: fixed;
	z-index: 10000;
	top:50%;
	left:50%;
	text-align: center;
	transform: translate(-50%,-50%);
	display: none;
}
#gnb > ul > li{
	line-height: 100px;
}
#gnb > ul > li > a{
	display: block;
	font-weight: 700;
	font-size: 40px;
	color:#fff;
	transition: all 0.3s;
}
#gnb > ul > li > a:hover{
	color:#222;
	border-top:6px solid #222;
	border-bottom:6px solid #222;
}
#gnb li ul {
	display: none;
	margin-top: 10px;
}
#gnb li ul li{
	line-height: 50px;
}
#gnb li ul li a{
	font-weight:400;
	font-size: 16px;
	color:#222;
	transition: all 0.3s;
}
#gnb li ul li a:hover{
	color:#fff;
}
body.fixed{
	position: fixed;
	z-index: 9999;
	width:100vw;
	height:100vh;
	overflow: hidden;
}
@media only screen and (max-width:1230px){
	#header .header_inner h1{
		top:20px;
		left:20px;
	}
	#header .header_inner h1 a{
		font-size: 16px;
	}
	#header .header_inner .gnbwrap .gnb_toggle{
		top:20px;
		right:20px;
	}
}

/* start------------------------------------- */
#start{
	width:100%;
	height:100vh;
	background-color: #999;
	overflow-y: hidden; 
}
#start .swiper {
	width: 100%;
	height: 100%;
	position: relative;
}
#start .swiper-wrapper .swiper-slide{
	font-size: 18px;
	background: #fff;
	overflow: hidden;
}
#start .swiper-wrapper .swiper-slide:nth-child(3){
	background-color: #333;
}
#start .swiper-wrapper .swiper-slide .inner{
	position: absolute;
	z-index: 1000;
	top: 50%;
	left:0;
	padding:180px 244px;
	box-sizing: border-box;
	transform: translateY(-50%);
}
#start .swiper-wrapper .swiper-slide .inner h2{
	font-Weight:900;
	font-Size:4.063em;
	opacity:0;
	transform: translateY(50px);
	transition: opacity 0.75s, transform 0.75s;
}
#start .swiper-wrapper .swiper-slide .inner h2 a{
	color:#fff;
}
#start .swiper-wrapper .swiper-slide .inner p{
	font-Weight:350;
	font-Size:30px;
	color:#fff;
	opacity:0;
	transform: translateY(50px);
	transition: opacity 0.75s, transform 0.75s;
	transition-delay: 0.8s;
}
#start .swiper-wrapper .swiper-slide .inner .date{
	display: block;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 300;
	color:#fff;
	opacity:0;
	transform: translateY(50px);
	transition: opacity 0.75s, transform 0.75s;
	transition-delay: 1.2s;
}
#start .swiper-wrapper .swiper-slide .inner .tool{
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-weight: 300;
	color:#fff;
	opacity:0;
	transform: translateY(50px);
	transition: opacity 0.75s, transform 0.75s;
	transition-delay: 1.4s;
}
#start .swiper-wrapper .swiper-slide.swiper-slide-active .inner h2,
#start .swiper-wrapper .swiper-slide.swiper-slide-active .inner p,
#start .swiper-wrapper .swiper-slide.swiper-slide-active .inner .date,
#start .swiper-wrapper .swiper-slide.swiper-slide-active .inner .tool{
	opacity: 1;
	transform: translateY(0px);
}
#start .swiper-wrapper .swiper-slide .more{
	position: absolute;
	left:50%;
	bottom:5%;
	z-index: 1000;
	transform: translate(-50%,0%);
	font-weight: 600;
	font-size: 14px;
	color:#fff;
	opacity: 0.8;
	transition: opacity 0.3s;
}
#start .swiper-wrapper .swiper-slide .more:hover{
	opacity: 1;
}
#start .swiper-wrapper .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1.5);
	transition: transform 2.0s;
}
#start .swiper-wrapper .swiper-slide.swiper-slide-active img {
	transform: scale(1);
}
#start .swiper .autoplay-progress{
	position: absolute;
	left: 50%;
	bottom: 34px;
	transform: translate(-50%,0%);
	margin-left: 80px;
	z-index: 10;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
#start .swiper .autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	stroke-width: 2px;
	stroke: #fff;
	fill: none;
	stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
	opacity: 0.8;
}
#start .swiper .autoplay-progress span{
	font-size: 14px;
	font-weight: 400;
	opacity: 0.8;
}
#start .swiper .prev_btn{
	position: absolute;
	z-index: 1000;
	top:50%;
	left:20px;
	transform: translateY(-50%);
	padding:0 20px;
	cursor: pointer;
}
#start .swiper .next_btn{
	position: absolute;
	z-index: 1000;
	top:50%;
	right:20px;
	transform: translateY(-50%);
	padding:0 20px;
	cursor: pointer;
}
#start .swiper .prev_btn span,
#start .swiper .next_btn span{
	display: block;
	width:4px;
	height:35px;
	background-color: #fff;
	transition: transform 0.3s;
}
#start .swiper .prev_btn:hover span:nth-child(1){
	transform: rotate(45deg) translateY(8px);
}
#start .swiper .prev_btn:hover span:nth-child(2){
	transform: rotate(-45deg) translateY(-8px);
}
#start .swiper .next_btn:hover span:nth-child(1){
	transform: rotate(-45deg) translateY(8px);
}
#start .swiper .next_btn:hover span:nth-child(2){
	transform: rotate(45deg) translateY(-8px);
}
#start .swiper .prev_btn p,
#start .swiper .next_btn p{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	color:rgba(255,255,255,0.8);
}
#start .swiper .prev_btn p{
	left:60px;
}
#start .swiper .next_btn p{
	right:60px;
}
#start .swiper .logolist{
	position: absolute;
	right:40px;
	bottom:5%;
	z-index: 10;
}
#start .swiper .logolist ul{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#start .swiper .logolist ul li{
	font-size: 11px;
	margin-top: 15px;
}
#start .swiper .logolist ul li a{
	font-size: 0;
}
#start .swiper .logolist ul li i{
	font-size: 24px;
	color:#fff;
}
@media only screen and (max-width:1230px){
	#start .swiper-wrapper .swiper-slide .inner{
		position: absolute;
		top:auto;
		bottom:0;
		left:20px;
		padding:0;
		transform: none;
		margin-bottom: 200px;
	}
	#start .swiper-wrapper .swiper-slide .inner h2{
		font-size:30px;
		line-height: 32px;
		margin-bottom: 10px;
	}
	#start .swiper-wrapper .swiper-slide .inner p{
		font-size:15px;
	}
	#start .swiper .prev_btn,
	#start .swiper .next_btn{
		display: none;
	}
	#start .swiper .logolist{
		right:20px;
	}
	#start .swiper .logolist ul li i{
		font-size: 16px;
	}
}
/* #page 공통----------------------------------- */
section[id^=page]{
	width:100%;
}
section[id^=page] .bigtit{
	position: absolute;
	top:100px;
	left:244px;
	z-index: 1;
}
section[id^=page] .bigtit h2{
	font-weight: 900;
	font-size: 150px;
	line-height: 160px;
	color:#222;
}
section[id^=page] .inner{
	padding:100px 244px;
	box-sizing: border-box;
	opacity: 0;
	transform: translateY(500px);
	transition: all 0.3s;
}
section[id^=page] .inner.visible{
	opacity: 1;
	transform: translateY(0%);
}
section[id^=page] .inner h3{
	font-weight: 700;
	font-size: 40px;
	line-height: 54px;
	color:#222;
}
section[id^=page] .inner span.makeup{
	font-weight: 700;
	font-size: 16px;
	line-height: 23px;
	color: #73C5D7;
}
section[id^=page] .inner .scrolldown{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 49px;
	font-weight: 350;
	font-size: 12px;
	line-height: 17px;
	color:#555;
}
section[id^=page] .inner .scrolldown .mouse{
	position: relative;
	display: block;
	width:19px;
	height:26px;
	border: 2px solid #555;
	border-radius: 20px;
	margin-right: 6px;
}
section[id^=page] .inner .scrolldown .mouse .dot{
	position: absolute;
	bottom:5px;
	left:50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-top: 4px solid #555;/* 화살표 */
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	animation: mousedown 2s infinite;
}
@keyframes mousedown{
	0% { transform: translate(-50%,0); }
	50% { transform: translate(-50%,-5px); }
	100% { transform: translate(-50%,0); }
}
@media only screen and (max-width:1230px){
	section[id^=page] .bigtit{
		top:160px;
		left:18px;
		z-index: 1;
	}
	section[id^=page] .bigtit h2{
		font-size: 60px;
		line-height: 70px;
		word-break: break-all;
	}
	section[id^=page] .inner{
		padding:80px 18px;
	}
	section[id^=page] .inner .scrolldown{
		display: none;
	}
	section[id^=page] .inner h3{
		font-weight: 600;
		font-size: 30px;
		line-height: 43px;
		color:#222;
	}
}
/* #page1:profile ----------------------------------- */
#page1{
	height:100vh;
}
#page1 .inner{
	position: relative;
}
#page1 .inner h3{
	margin-top: 400px;
	font-weight: 600;
	font-size: 30px;
	line-height: 43px;
	color:#222;
}
#page1 .inner > img{
	position: absolute;
	top:0;
	right:0;
	z-index: -1;
	margin-top: 100px;
	margin-right: 244px;
	width:800px;
	height: 728px;
}
#page1 .inner > p{
	margin-top: 36px;
	font-weight: 350;
	line-height: 29px;
	color:#555;
}
#page1 .inner .scrolldown{
	position: absolute;
	left:50%;
	bottom:-141px;
	transform: translate(-50%,0%);
}
@media only screen and (max-width:1230px){
	#page1 .inner{
		text-align: center;
	}
	#page1 .inner h3{
		margin-top: 614px;
	}
	#page1 .inner > img{
		position: absolute;
		top:266px;
		margin-top: 0;
		margin-right:0;
		padding:0 18px;
		box-sizing: border-box;
		width:100%;
		height: 400px;
		object-fit: cover;
	}
	#page1 .inner > p{
		margin-top: 20px;
		font-size: 14px;
		line-height: 22px;
		color:#555;
	}
}

/* #page2:profile----------------------------------- */
#page2{
	background-color:#eee;
}
#page2 .inner{
	position: relative;
}
#page2 .inner .aboutwrap{
	margin-top: 244px;
	display: flex;
	justify-content: space-between;
}
#page2 .inner .aboutwrap .study{
	width:20%;
}
#page2 .inner .aboutwrap .job{
	width:20%;
}
#page2 .inner .aboutwrap .license{
	width:20%;
}
#page2 .inner .aboutwrap .tool{
	width:20%;
}
#page2 .inner .aboutwrap .resume{
	width:20%;
	display: flex;
	align-items: center;
	text-align: center;
	width: 114px;
	height: 114px;
	border-radius: 50%;
	background-color: #73C5D7;
	color:#fff;
}
#page2 .inner .aboutwrap .tit{
	margin-bottom: 25px;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color:#222;
}
#page2 .inner .aboutwrap ul li{
	display: flex;
	margin-bottom: 15px;
}
#page2 .inner .aboutwrap ul li:last-child{
	margin-bottom: 0;
}
#page2 .inner .aboutwrap ul li span.date{
	width:15%;
	margin-right: 40px;
	font-weight: 500;
	line-height: 23px;
	color:#555;
}
#page2 .inner .aboutwrap ul li span.desc{
	width:85%;
	font-weight: 400;
	line-height: 23px;
	color:#555;
}
#page2 .inner .aboutwrap .tool ul li{
	display: inline-block;
}
@media only screen and (max-width:1230px){
	#page2{
		padding-top:0px;
	}
	#page2 .inner .aboutwrap{
		margin-top: 80px;
		flex-wrap: wrap;
		justify-content: center;
	}
	#page2 .inner .aboutwrap > div{
		margin-bottom: 30px;
	}
	#page2 .inner .aboutwrap .study{
		width:50%;
	}
	#page2 .inner .aboutwrap .job{
		width:50%;
	}
	#page2 .inner .aboutwrap .license{
		width:50%;
	}
	#page2 .inner .aboutwrap .tool{
		width:50%;
	}
	#page2 .inner .aboutwrap .resume{
		margin-top: 50px;
	}
	#page2 .inner .aboutwrap ul li{
		flex-direction: column;
	}
	#page2 .inner .aboutwrap ul li span.date{
		width:20%;
	}
	#page2 .inner .aboutwrap ul li span.desc{
		width:80%;
	}
}

/* #page3:profile----------------------------------- */
#page3{
	padding-top: 100px;
}
#page3 .inner{
	padding:0;
	padding-left: 244px;
}
#page3 .swiper {
	margin-top: 68px;
	width: 100%;
	height: 100%;
	padding-bottom: 46px;
	margin-bottom: 77px;
}
#page3 .swiper .swiper-slide{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
#page3 .swiper .swiper-slide .year{
	font-weight: 700;
	font-size: 35px;
	line-height: 51px;
	color:#73C5D7;
}
#page3 .swiper .swiper-slide .tit{
	margin-top: 68px;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color:#222;
}
#page3 .swiper .swiper-slide ul{
	margin-top: 23px;
}
#page3 .swiper .swiper-slide ul li{
	margin-top: 15px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color:#555;
}
#page3 .swiper .swiper-slide ul li:first-child{
	margin-top: 0px;
}
#page3 .swiper .swiper-scrollbar{
	top:74px;
	left: 0;
	width: 100%;
}
#page3 .swiper .swiper-button-prev,
#page3 .swiper .swiper-button-next{
	position: relative;
	display: block;
	top:auto;
	width:auto;
	height:auto;
	margin-top: 0;
	margin-right: 142px;
}
#page3 .swiper .swiper-button-prev::after{
	position: absolute;
	right:70px;
}
#page3 .swiper .swiper-button-next::after{
	position: absolute;
	right:0px;
}
.swiper-scrollbar-drag {
	background: var(--swiper-scrollbar-drag-bg-color,#73c5d7);
}
:root {
    --swiper-theme-color: #73c5d7;
}
@media only screen and (max-width:1230px){
	#page3{
		padding-top: 0px;
	}
	#page3 .inner{
		padding:80px 18px;
	}
	#page3 .swiper {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	#page3 .swiper .swiper-button-prev,
	#page3 .swiper .swiper-button-next{
		display: none;
	}
	:root {
		--swiper-navigation-size: 30px;
	}
}

/*page4: portfolio--------------------------------*/
#page4 .swiper {
	width: 100%;
	height: 100%;
}
#page4 .swiper .swiper-slide{
	font-size: 18px;
	background: #fff;
	display: flex;
	align-items: flex-start;
}
#page4 .swiper .swiper-slide .left{
	width:43.5%;
	margin-top: 395px;
}
#page4 .swiper .swiper-slide .left h3{
	font-weight: 600;
	font-size: 30px;
	line-height: 43px;
	color:#222;
}
#page4 .swiper .swiper-slide .left .subtxt{
	margin-top: 36px;
	font-size: 16px;
	font-weight: 350;
	line-height: 29px;
	color:#555;
}
#page4 .swiper .swiper-slide .right{
	position: relative;
	width:56.5%;
}
#page4 .swiper .swiper-slide .right img.mockup{
	position: absolute;
	right:50px;
	bottom:50px;
	width:385px;
	opacity:0;
	transition: opacity 0.3s;
}
#page4 .swiper .swiper-slide .right:hover img.mockup{
	opacity:1;
}
#page4 .swiper .swiper-slide .right img.back{
	width:100%;
	height: 728px;
}
#page4 .swiper .swiper-button-next,
#page4 .swiper .swiper-button-prev{
	z-index: 100;
	top:95%;
	right:0;
	left:0;
}
#page4 .swiper .swiper-button-next{
	left:70px;
}
#page4 .swiper .swiper-button-next::after,
#page4 .swiper .swiper-button-prev::after{
	font-size: 20px;
	color:#222;
}
#page4 .swiper .swiper-pagination{
	text-align: left;
	top:93.3%;
	left:32px;
}
@media only screen and (max-width:1230px){
	#page4{
		padding-top: 0px;
	}
	#page4 .swiper{
		margin-top: 190px;
		padding-bottom: 70px;
	}
	#page4 .swiper .swiper-slide{
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	#page4 .swiper .swiper-slide .left{
		width:100%;
		margin-top: 0;
		text-align: center;
	}
	#page4 .swiper .swiper-slide .left .subtxt{
		margin-top: 30px;
		font-size: 14px;
		font-weight: 350;
		line-height: 22px;
	}
	#page4 .swiper .swiper-slide .left h3{
		margin-top: 30px;
	}
	#page4 .swiper .swiper-slide .right{
		width:100%;
	}
	#page4 .swiper .swiper-slide .right img.back{
		height:400px;
		object-fit: cover;
	}
	#page4 .swiper .swiper-slide .right img.mockup{
		display: none;
	}
	#page4 .swiper .swiper-pagination{
		text-align: center;
		left: 0;
	}
	#page4 .swiper .swiper-button-next,
	#page4 .swiper .swiper-button-prev{
		left:50%;
		top:95.5%;
		transform: translateX(-50%);
	}
	#page4 .swiper .swiper-button-next{
		margin-left:30px;
	}
	#page4 .swiper .swiper-button-prev{
		margin-left: -30px;
	}
}

/*page5: portfolio(bottom)-----------------------------------------*/
#page5 .inner .pofol_list li .top{
	width:100%;
}
#page5 .inner .pofol_list li .top img{
	width:100%;
	height:100%;
	object-fit: cover;
}
#page5 .inner .pofol_list li .bottom{
	position: relative;
	width:100%;
	margin-top: 46px;
	padding-left: 103px;
}
#page5 .inner .pofol_list li .bottom .tag{
	position: absolute;
	top:0;
	left:0;
	padding-top: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color:#222;
}
#page5 .inner .pofol_list li .bottom .info >a{
	font-weight: 350;
	font-size: 40px;
	color:#555;
}
#page5 .inner .pofol_list li .bottom .info >a p{
	font-weight: 700;
	line-height: 54px;
	color:#222;
}
#page5 .inner .pofol_list li .bottom .info >p{
	margin-top: 30px;
	margin-bottom: 90px;
	font-weight: 350;
	font-size: 18px;
	line-height: 29px;
	color:#555;
}
@media only screen and (max-width:1230px){
	#page5{
		padding-top: 0px;
	}
	#page5 .inner .pofol_list li .top{
		
	}
	#page5 .inner .pofol_list li .top img{
		width:100%;
		height:240px;
		object-fit: cover;
	}
	#page5 .inner .pofol_list li .bottom{
		padding-left: 0;
		margin-top: 30px;
	}
	#page5 .inner .pofol_list li .bottom .tag{
		display: none;
	}
	#page5 .inner .pofol_list li .bottom .info >a{
		font-weight: 350;
		font-size: 30px;
		line-height: 43px;
		color:#555;
	}
	#page5 .inner .pofol_list li .bottom .info >a p{
		font-weight: 700;
		line-height: 43px;
		color:#222;
	}
	#page5 .inner .pofol_list li .bottom .info >p{
		margin-top: 20px;
		margin-bottom: 30px;
		font-weight: 350;
		font-size: 14px;
		line-height: 22px;
		color:#555;
	}
}

/*page6: contact--------------------------------*/
#page6{
	height: 100vh;
	background-image: url(../images/contact_bg.jpg);
	background-size:cover;
}
#page6 .inner{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#page6 .inner .title{
	width:50%;
}
#page6 .inner .title > p {
	font-size: 14px;
	line-height: 22px;
	color: #fff;
}
#page6 .inner .phone_wrap{
	position: relative;
	width:50%;
}
#page6 .inner .phone_wrap .phone{
	position: relative;
	width: 348px;
	height: 704px;
}
#page6 .inner .phone_wrap .phone .main{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image: url(../images/phone_bg_00.png);
	background-repeat: no-repeat;
}
#clock{
	position: absolute;
	top:80px;
	left:50%;
	transform: translateX(-50%);
	font-size: 50px;
	font-weight: 500;
	color:#fff;
}
#page6 .inner .phone_wrap .phone .main p{
	position: absolute;
	bottom:140px;
	width:100%;
	text-align: center;
	font-size: 14px;
	color:#eeeeee;
}
#page6 .inner .phone_wrap .phone .call{
	display: none;
	position: absolute;
	top:0;
	left:0;
	width: 348px;
	height: 704px;
	background-image: url(../images/phone_bg_01.png);
	background-repeat: no-repeat;
	font-size: 0;
}
#page6 .inner .phone_wrap .phone .call.on{
	display: block;
}
#page6 .inner .phone_wrap .phone .email{
	display: none;
	position: absolute;
	top:0;
	left:0;
	width: 348px;
	height: 704px;
	background-image: url(../images/phone_bg_02.png);
	background-repeat: no-repeat;
}
#page6 .inner .phone_wrap .phone .email.on{
	display: flex;
}
#page6 .inner .phone_wrap .phone .email a{
	display: block;
	width:100%;
	height:100%;
	font-size:0;
}
#page6 .inner .phone_wrap .phone .figma{
	display: none;
	position: absolute;
	top:0;
	left:0;
	width: 348px;
	height: 704px;
	background-image: url(../images/phone_bg_03.png);
	background-repeat: no-repeat;
}
#page6 .inner .phone_wrap .phone .figma.on{
	display: block;
}
#page6 .inner .phone_wrap .phone .figma a{
	display: block;
	width:100%;
	height:100%;
	font-size: 0;
}
#page6 .inner .phone_wrap .phone .phone_btn{
	position: absolute;
	bottom:60px;
	width:100%;
	height: auto;
	display: flex;
	justify-content: center;
}
#page6 .inner .phone_wrap .phone .phone_btn li{
	position: relative;
	display: inline-block;
	width:60px;
	height:60px;
	margin-left: 30px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 0;
	background-color: #fff;

}
#page6 .inner .phone_wrap .phone .phone_btn li:first-child{
	margin-left: 0;
}
#page6 .inner .phone_wrap .phone .phone_btn li i{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-size: 30px;
	color:#222;
	transition: all 0.3s;
}
#page6 .inner .phone_wrap .phone .phone_btn li.callbtn:hover i{
	color:#21a15bc0;
}
#page6 .inner .phone_wrap .phone .phone_btn li.emailbtn:hover i{
	color:#ff4d4d;
}
#page6 .inner .phone_wrap .phone .phone_btn li.figmabtn:hover i{
	color:#7676fc;
}
#page6 .inner .phone_wrap .phone .gohome{
	position: absolute;
	top:25px;
	left:50px;
	font-size: 0;
	cursor: pointer;
}
#page6 .inner .phone_wrap .phone .gohome i{
	font-size: 16px;
	color:#111;
}
#page6 .inner .contact{
	display: none;
}
@media only screen and (max-width:1230px){
	#page6 .inner .title{
		display: none;
	}
	#page6 .inner .phone_wrap{
		margin-top: 50px;
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
@media only screen and (max-width:400px){
	#page6 .inner{
		flex-direction: column;
	}
	#page6 .inner .title{
		display: block;
		padding-top: 20px;
	}
	#page6 .inner .title > div img{
		width:100%;
		height: 100%;
		object-fit: contain;
	}
	#page6 .inner .phone_wrap{
		display: none;
	}
	#page6 .inner .contact{
		display: block;
		margin-top: 30px;
	}
	#page6 .inner .contact ul li{
		display: inline-block;
		margin-left: 15px;
		font-size: 0;
	}
	#page6 .inner .contact ul li:first-child{
		margin-left: 0;
	}
	#page6 .inner .contact ul li i{
		font-size: 30px;
		color:#fff;
	}
}

/* footer----------------------------------- */
#footer{
	width:100%;
	padding:50px;
	box-sizing: border-box;
}
#footer .copy{
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	color:#777;
}
#footer .copy p:first-child{
	margin-bottom: 10px;
}
@media only screen and (max-width:980px){
	#footer{
		padding:20px 30px;
	}
	#footer .copy{
		font-size: 12px;
	}
}